/* FONTES */
@font-face {
	font-family: 'LeagueGothic';
	src: url('fonts/LeagueGothic-Regular-VariableFont_wdth.ttf') format('ttf');
}
@font-face {
	font-family: 'Khand';
	src: url('fonts/Khand-Regular.ttf') format('ttf');
}

h1, h2, h3 {
	font-family: 'LeagueGothic';
}
body {
	font-family: 'Khand';
}
