/*
.khand-semibold {
  font-family: "Khand", sans-serif;
  font-weight: 600;
  font-style: normal;
}
*/
.loginInput::placeholder,
.loginInput:-ms-input-placeholder,
.loginInput::-ms-input-placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Khand', sans-serif;
  font-weight: 600;
  font-style: normal;
  opacity: 1; /* Firefox */
  color: #1F1825;
}

.mainLoginInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Khand', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.mainLoginInput::-ms-input-placeholder { /* Microsoft Edge */
  font-family: 'Khand', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.loginSmall {
	text-align: left;
	width: 100%;
	margin-bottom: 16px;
}

.bg {
	flex: row;
	height: 100vh;
	background-color: var(--clr-dark);
}

/* ----- TELA DE LOGIN ----- */

#login-side {
	background-color: rgba(31, 24, 37, 1);
	width: 45%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#login-main {
	padding: 8pc;
	text-align: center;
}

#login-inputs {
	padding: 2pc;
	border-radius: 25px;
	background-color: #110C15;
}

/* ----- TELA DASHBOARD ----- */

#main-side {
	float: left;
	background-color: var(--clr-darker);
	width: 25%;
	height: 100%;
	margin-right: auto;
}

#main-primary {
	overflow-y: auto;
	float: left;
	padding: 25px;
	background-color: var(--clr-dark);
	width: 75%-var(padding);
	height: 1080-var(padding);
	margin-left: auto;
}

.marca-pag {
	font-family: "Khand", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.1em;
	border-radius: 40px 0 0 40px;
	margin-top: 20;
	margin-bottom: 20;
	margin-left: 20%;
	width: 80%;
	background-color: var(--clr-darkest);
	color: var(--clr-white);
	text-align: left;

	transition-timing-function: ease-out;
	transition:
		background-color 77ms,
		color 77ms;
		width: 77ms;
		margin-left: 77ms;
}
.current, .marca-pag[data-sel=true] {
	border-radius: 0px;
	width: 100%;
	margin-left: 0%;
	background-color: var(--clr-dark);
	color: var(--clr-main);
}

.marca-pag:hover {
	width: 90%;
	margin-left: 10%;
	background-color: var(--clr-main);
	color: var(--clr-darker);
}

.current:hover, .marca-pag[data-sel=true]:hover {
	border-radius: 0px;
	width: 100%;
	margin-left: 0%;
	background-color: var(--clr-dark);
	color: var(--clr-seco);
}

#main-primary > div {
	color: var(--clr-white);
	display: none;
}
#main-primary > div[data-active=true] {
	display: block;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	width: 70vw;
}
.section > h2 {
	color: var(--clr-main);
	margin: 0px;
}

.fator {
	flex-grow: 4;
	font-size: 1.2em;
	background-color: var(--clr-darker);
	border-radius: 12px;
	float: center;
	margin: 12px;
	padding: 13px;
}
.fator > h3 {
	font-size: 1.1em;
	color: var(--clr-seco);
	margin: 0px;
}
.fator-reais {
	color: var(--clr-seco);
}

.grafico > canvas {
	margin: 10px;
	background-color: var(--clr-darkest);
	width: calc(100% - 1.4em - 10px);
	height: calc(100% - 1.4em - 10px);
}

.com-barra > div {
	background-color: var(--clr-darkest);
	border-radius: 10px;
	overflow-y: scroll; /* auto? Tem que cortar os itens para não puxar outros elementos */
	width: 100%;
	height: calc(500px - 1.5em);
}

.item-barra {
	background-color: var(--clr-dark);
	width: calc(100% - var(padding)*2);
	padding: 8px;
	margin-bottom: 3px;
	height: 1.2em;
}
